$background-color: #1a1a2e;
$font-color: #ffffff;
$font-green: #28a745;
$font-red: #dc3545;

$option-bg-color: #2e2e3e;
$option-hover-color: #33334e;
$option-select-color: #4e4e6e;
$option-correct-color:#186029;
$option-wrong-color:#82202a;

$btn-bg-color: #ff9d00;
$btn-hover-color: #ed7f00;
$btn-disabled-color: #999999;